@import 'nib'

lightergray = #f7f7f7
lightgray = #eee
gray = #ddd
grayer = #aaa
darkgray = #666
darkergray = #333
blue = #0971CF
lightblue = #85B9E8
yellow = #f7e8bc

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  font-family: "Helvetica", "Arial", sans-serif
  font-size: 62.5%
  color: darkergray
  -webkit-font-smoothing: antialiased
  background: white